* {
  margin: 0;
  padding: 0;
 
}

body {
  background-image: url('/bg_img.png'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: black;
}


#nav {
  display: flex;
  align-items: center;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: rgb(33, 33, 46);
  
}

#nav li {
  list-style: none;
  margin-left: 13vw;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
}

#nav li a {
  text-decoration: none;
  color: white;
  padding: 10px;
  transition: color 0.3s ease;
}

#nav li a:hover {
  color: red;
}

#nav li a.active {
  color: red;
}

#itc_logo{
  width: 5vw;
  height: 5vh;
  margin-left: 2vw;
}

#copyright {
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}